*{margin: 0px;
    padding:0px;
  
  
  
  }
  .card{width:26.3%;
        margin:40px;
        border-radius:10px;
        background-color:whitesmoke;
  }
  ;
  
  .image img{
      width:100%;
      border-radius: 10px;
  }
  .title{text-align:center;
      
  }
  .cards{display:flex
  }
  .des{text-align: center;
       ;
  }
  .profiles{width:26.3%;
      margin:40px;
      border-radius:10px;
      background-color:whitesmoke;
  }
  h2{text-align:center ;
}
*{margin:0;
  padding:0;
  box-sizing: border-box;
}
html{font-size: 10px;
     

} 
.section{
         padding: 10rem;
         background-color: #fff;
         text-align: center;
         font-size: xx-large;

} 
.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right:-3px;
    margin-bottom:5rem;
    text-align: center;
}  
.card-wrapper{
    display:flex;
    align-items: center;
    align-content: center;
    text-align: center;
    

}
.cardq{
    width:46rem;
    
    display:flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    margin:2rem;
    box-shadow: .5rem .5rem .3rem gray;
  

} 
.card.card-img{
    width:70%;
    height:26rem;
    object-fit:cover ;

}  
.profile-img{
    width:15rem;
    height:15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index:999;
    border:1rem soilid



}
.background-img{
    width:100%

}

h1{text-align: center;
   font-size: xx-large;
   text-align: center;


}
p{font-size: large;}